.notif-count{
font-size: 16px;	
}

w-50px{
	width: 50px !important;
}

w-100px{
	width: 50px !important;
}

w-150px{
	width: 50px !important;
}

w-200px{
	width: 50px !important;
}

w-250px{
	width: 50px !important;
}

w-300px{
	width: 50px !important;
}

w-350px{
	width: 50px !important;
}

w-400px{
	width: 50px !important;
}

w-450px{
	width: 50px !important;
}

w-500px{
	width: 50px !important;
}